.register-form {
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    width: 60%;
    border: 1px solid gray;
}


.register-title {
    margin: 30px;
    font-size: 30px;
    font-weight: bold;
    color: gray;
}

.register-body {
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 90%;
}

.register-div {
    display: flex;
    text-align: left;
    border-top: 1px solid gray;
    height: 50px;
    overflow-y: hidden;
    align-items: center;
    flex-wrap: wrap;
}

.register-div-email{
    display: flex;
    text-align: left;
    border-top: 1px solid gray;
    height: 110px;
    overflow-y: hidden;
    align-items: center;
    flex-wrap: wrap;
}


.register-sub-title {
    width: 140px;
    height: 100%;
    background-color: #fbfbfb;
    font-size: 13px;
    display: flex;
    align-items: center;
}

.sub-title-content {
    margin-left: 10px;
}

.register-input {
    margin-left: 10px;
    width: 200px;
    height: 30px;
}

.register-input-email {
    margin-left: 10px;
    margin-top: 10px;
}

.register-point {
    color: red;
}

.verify-btn {
    margin-left: 10px;
    width: 80px;
    height: 30px;
    background-color: white;
    color: black;
    border: 1px solid black;
}

.verify-btn:hover {
    background-color: gray;
    color: white;
}

.register-precautions {
    font-size: 11px;
    text-align: right;
    margin-bottom: 5px;
}

.check-msg {
    color: red;
    font-size: 10px;
    margin-left: 10px;
}

.register-btn-div {
    margin-top: 10px;
    margin-bottom: 10px;
}

.register-btn {
    width: 100%;
    height: 40px;
    background-color: #1a70dc;
    font-weight: bold;
    color: white;
    border: none;
}

.register-btn:hover {
    cursor: pointer;
    background-color: #126eb4;
}

.confirm-email-num {
    width: 130px;
    height: 30px;
}