.comment-div {
    margin-bottom: 20px;
}

.comment-title {
    text-align: left;
    font-size: 17px;
    font-weight: bold;
    border-bottom: 1px solid lightgray;
    padding-left: 10px;
    padding-bottom: 10px;
    
}


.comment {
    border-bottom: 1px solid lightgray;
    padding: 20px;
}


.comment-top {
    display: flex;
    justify-content: space-between;
}

.comment-top-left {
    display: flex;
    justify-content: space-between;
}

.comment-id {
    display: none;
}

.comment-top-info {
    margin-right: 10px;
}

.comment-content {
    margin-top: 10px;
    text-align: left;
}

.comment-block {
    width: 100%;
    background-color: #F2F2F2;
    display: inline-flex;
    flex-direction: row;
    align-items: center;
}

.comment-block-title {
    margin: 40px;
    font-weight: bold;
}

.comment-text {
    
    width: 75%;
    height: 100px;
    background-color: white;
    margin: 10px;
    border: none;
    
}

.comment-btn {
    height: 100px;
    border: lightgray 1px solid;
    border-radius: 10px;
    font-weight: bold;
    background-color: white;

}

.comment-btn:hover {
    cursor: pointer;
}

.comment-reply{
    width: 100%;
    text-align: right;
}

.comment-reply-bottom {
    width: 95%;
    margin-left: auto;
    margin-right: 0;
}

.reply-btn {
    
    font-size: 12px;
}

.reply-btn:hover {
    cursor: pointer;
}

.comment-reply-block {
    width: 100%;
    background-color: #F2F2F2;
    display: inline-flex;
    flex-direction: row;
    align-items: center;
}

.comment-replys {
    width: 95%;
    background-color: #F0F0F0;
    padding: 20px;
    margin-left: auto;
    margin-right: 0;
}

.comment-replys-div {
    width: 100%;
    border-bottom: 1px solid lightgray;

}

.comment-replyNickname {
    font-size: 12px;
    text-align: left;
}

.comment-createDate {
    color: gray;
    font-size: 13px;
}

.comment-delete:hover {
    cursor: pointer;
}