.header-nav {
    display: flex;
    text-align: right;
    margin: 10px;
    justify-content: space-between;
    border-bottom: 1px solid black;
    flex-grow: 2;
  }
  
.header-item {
  flex-basis: 200px;
  text-align: center;
  margin: 20px;
  display: flex;
  
}

.header-sub {
  margin-right: 20px;
}



.logo {
  font-size: 25px;
  font-weight: bold;
  color: #585858;
}

.login-btn {
  border: none;
  width: 80px;
  height: 30px;
  color: white;
  background-color: #585858;
}

.login-btn:hover {
  background-color: #363636;
  cursor: pointer;
}

a {
  text-decoration: none;
}