.post-div {
    width: 100%;
    text-align: left;   
    margin-bottom: 40px;
}

.post-header {
    height: auto;
}

.post-category {
    margin: 10px;
}

.post-title {
    background-color: #f8f8f8;
    font-size: 18px;
    height: 40px;
    padding-top: 5px;
    padding-left: 10px;
    border-bottom: 1px solid lightgray;
}
.post-header-sub {
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
}

.post-header-subs {
    display: inline-flex;
}

.post-header-sub-item {
    margin-left: 15px;
}

.post-body {
    width: 100%;
}

.post-likes-div {
    display: flex;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    justify-content: center;
}

.post-likes-btn-div {
    display: flex;
    margin: 20px 40px;
}

.post-likes-num {
    font-size: 20px;
    margin-right: 10px;
    
}

.post-likes-btn {
    width: 30px;
}

.detail-btn {
    border: 1px lightgray solid;
    margin-left: 10px;
    font-size: 12px;
    font-weight: bold;

}

.post-detail-btn {
    text-align: right;
    margin-top: 5px;

}
